@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --texto: #FFFFFF;
    --destaque: #FF9900;
    --fundo-principal: #000000;
}

body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 600px;
}

main > h1 {
    color: var(--destaque);
    text-align: center;
    margin: 50px 0px;
}

main > p {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
}

footer > p {
    text-align: center;
    background-color: var(--destaque);
    color: var(--fundo-principal);
    font-weight: bold;
    padding: 10px;
    width: 100%;
}