@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --texto: #FFFFFF;
    --destaque: #FF9900;
    --fundo-principal: #000000;
}

::-webkit-scrollbar {
    display: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-principal);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--texto);
}

nav {
    display: flex;
    border-bottom: 1px solid var(--destaque);
    justify-content: space-between;
}

nav > h1 {
    color: var(--destaque);
    padding: 10px;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--texto);
    font-weight: bold;
    padding: 10px;
    transition: color .2s;
}

nav > ul > li > a:hover {
    color: var(--destaque);
}

span.destaque {
    color: white;
}

div#search {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#ibarra {
    margin: 20px 0px;
    width: 70%;
    height: 25px;
    border-radius: 6px;
    background-color: var(--fundo-principal);
    border: 2px solid var(--texto);
    color: var(--texto)
}

.topicos {
    background-color: rgb(10, 10, 10);
}

.topicos > ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

.topicos > ul > li {
    padding: 10px;
}

.topicos > ul > li > a {
    text-decoration: none;
    color: var(--texto);
}

.topicos > ul > li > a:hover {
    color: var(--destaque);
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 20px;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

div.thumbnail > img {
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

div.thumbnail > img:hover {
    cursor: pointer;
    border: 1px solid var(--texto);
}

div.titulo {
    font-size: 0.8em;
    margin-top: 8px;
}

.criador {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

div.nome-criador > p {
    font-size: 0.7em;
}

div.ft-criador > img {
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1/1;
}

footer > p {
    margin-top: 100px;
    color: var(--destaque);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}